.card {
  border: none !important;
}
.card-footer {
  background-color: #ffffff !important;
}
.products > .btn {
  width: 50% !important;
  height: 28px !important;
}

.custom-rating {
  font-size: 0.7em;
}
