.custom-product-link {
  font-size: 80%;
  font-weight: 200;
  letter-spacing: -0.008em;
  padding-left: 60% !important;
}

.custom-product-details {
  font-size: 80%;
  font-weight: 200;
  letter-spacing: -0.008em;
}

a {
  color: #7d7b7b;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
    color: #969696;
    text-decoration: none;
    background-color: transparent;
}
